<h1>Course Module: <%= @course_module.title %></h1>

<p>Position: <%= @course_module.position %></p>

<p>Course: <%= @course_module.course.title %></p>

<p>Instructor: <%= @course_module.course.instructor.first_name %></p>
