<h1>Select lesson type</h1>

<%= form_with url: new_course_topic_lesson_path(@course, @topic), method: :get, local: true do |f| %>
  <%= f.select :content_type, [ [ "Text", "text" ], [ "Video", "video" ], [ "Test", "test" ] ], { selected: "text" }, class: "form-select" %>
  <%= f.submit "Continue" %>
<% end %>
