<%= render partial: "lessons/types/#{@lesson.content_type}", locals: { lesson: @lesson } %>
Lesson is accepting answers untill: <%= @lesson.end_date %>

<% if @user.role == "student" || @user.role == "teacher" %>
    <%= render partial: "lessons/roles/#{@user.role}", locals: { lesson: @lesson } %>
<% else %>
    <p>You don't have access to this lesson</p>
<% end %>
